.all{
    display: flex;
    flex-direction: row;
    background-image: url(https://wallpaper.dog/large/10735273.jpg);
    width: 98.9.54vw;
    height: 53vw;
    margin-top: -1%;
    margin-left: -1%;
    margin-bottom: -1%;
}

.left{
    margin-left: 16%;
    margin-top: 10%;
}

.right{

    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    max-height: 64.3%;
    min-width: 40%;
    border-radius: 0% 6% 6% 0%;
    
}

.imgs{
    margin-left: 8%;
    margin-top: 3%;
}

h2{
    margin-left: 8%;
    font-size: 35px;
    

}

h1{
    margin-left: 8%;
    margin-top: 3%;
}

.emailinput{
    margin-left: 8%;
    margin-top: 3%;
}

.userinput{
    margin-left: 8%;
    margin-top: 3%;
}

.passinput{
    margin-left: 8%;
    margin-top: 3%;
}

.butinput{
    margin-left: 8%;
    margin-top: 3%;
}

.have{
    color: rgb(235, 125, 91);
}

form{
    background: #E94E1B;
    border-radius: 40px;
    color: white;
    width: 50%;
    height: 5%;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 33px;
    margin-bottom: 42px;
    margin-top: 20px;
    
   
}
