.rectangulo{
    margin-top: 0%;
    width: 99%;
    
  }
  
  .searchbar{
      padding-left: 0%;
    
  
  }
  
  .composer-container {
    position: fixed;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      padding: 12px;
      width: 60%;
  
     
    }
    
    .composer-header {
      display: flex;
      align-items: center;
    }
    
    .profile-pic {
      margin-right: 10px;
    }
    
    .profile-pic img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    
    .composer-input-container {
      flex-grow: 1;
    }
    
    input[type="text"] {
      border: none;
      border-radius: 999px;
      background-color: #f0f2f5;
      font-size: 16px;
      padding: 10px 16px;
      width: 95%;
      outline: none;
    }
    
    input[type="text"]::placeholder {
      color: #65676b;
    }
  
    .campana{
      padding-right: 10px;
      padding-left: 1%;
    }
  
  .user{
      background-color: rgb(252, 104, 51);
      width: 700px;
      color: white;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 50);
      
      
  }
  
  .userpicture{
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-top: 30px;
  }
  
  .usertext{
      padding-bottom: 30px;
  }
  